// Common Color 

$white: #fff;
$black: #000;

// Theme Color 

$heading-color: #ff3636;
$link-color: #fff;
$link-hover-color: #ff3636;
$border-color: #fff;
$btn-background-color: #ff3636;
$btn-text-color: #fff;
$btn-hover-color: #000;
$bg-gray: #f6f6f6;