.service-area {
  background-color: $bg-gray;
  .single-service {
    padding: 25px 30px;
    background: $white;
    margin-bottom: 50px;

    &:hover {
      i {
        border-radius: 50%;
      }
    }

    i {
      font-size: 20px;
      background-color: #ff3636;
      color: #fff;
      transition: 0.3s;
      height: 50px;
      width: 50px;
      line-height: 50px;
    }
    h4 {
      font-size: 24px;
      text-transform: capitalize;
      margin: 15px 0;
    }
    p {
      line-height: 1.7;
    }
  }
}
